In [2]:
import numpy as np
import pandas as pd
import csv
pd.set_option('display.max_rows',500)

## Deforestation ##
##### (and maybe carbon capture if I understood which data we're using)

In [3]:
DEFRST = pd.read_csv('FAOSTAT_data_en_3-10-2024 (1).csv')
#loading in data from 'https://www.fao.org/faostat/en/#data/RL'; in 'Elements', select 'carbon stock in living biomass', and in items, select all 'Forestland' 
#these filter selections can be completely wrong so have good documentation as you go pls

FileNotFoundError: [Errno 2] No such file or directory: 'FAOSTAT_data_en_3-10-2024 (1).csv'

In [3]:
defrst=DEFRST.drop(columns=['Flag Description', 'Flag','Year Code','Domain Code','Element Code','Item Code','Note', 'Unit'])

### edit units ###

In [1]:
defrst['Unit']= "Million metric tonnes"
defrst.to_csv("cleanedDEFRST.csv")

NameError: name 'defrst' is not defined

In [5]:
defrst.head()

,Domain,Area Code (M49),Area,Element,Item,Year,Value,Unit
0,Land Use,4,Afghanistan,Area,Forest land,1990,1208.44,million metric tonnes
1,Land Use,4,Afghanistan,Area,Forest land,1991,1208.44,million metric tonnes
2,Land Use,4,Afghanistan,Area,Forest land,1992,1208.44,million metric tonnes
3,Land Use,4,Afghanistan,Area,Forest land,1993,1208.44,million metric tonnes
4,Land Use,4,Afghanistan,Area,Forest land,1994,1208.44,million metric tonnes

In [6]:
b=defrst.loc[defrst['Value']==0.0] #most countries with no carbon stock value are edge case places
b.groupby("Area")["Value"].unique()
#these are the countries with no value for forest land

Area
Afghanistan                                     [0.0]
American Samoa                                  [0.0]
Andorra                                         [0.0]
Aruba                                           [0.0]
Bahamas                                         [0.0]
Bahrain                                         [0.0]
Barbados                                        [0.0]
Bonaire, Sint Eustatius and Saba                [0.0]
Botswana                                        [0.0]
Cayman Islands                                  [0.0]
Curaçao                                         [0.0]
Djibouti                                        [0.0]
Egypt                                           [0.0]
Equatorial Guinea                               [0.0]
Falkland Islands (Malvinas)                     [0.0]
Faroe Islands                                   [0.0]
Gibraltar                                       [0.0]
Greenland                                       [0.0]
Guam                                            [0.0]
Guyana                                          [0.0]
Holy See                                        [0.0]
Honduras                                        [0.0]
Kuwait                                          [0.0]
Libya                                           [0.0]
Maldives                                        [0.0]
Malta                                           [0.0]
Monaco                                          [0.0]
Montserrat                                      [0.0]
Namibia                                         [0.0]
Nauru                                           [0.0]
Netherlands Antilles (former)                   [0.0]
Northern Mariana Islands                        [0.0]
Puerto Rico                                     [0.0]
Qatar                                           [0.0]
Saint Barthélemy                                [0.0]
Saint Helena, Ascension and Tristan da Cunha    [0.0]
Saint Martin (French part)                      [0.0]
Saint Pierre and Miquelon                       [0.0]
San Marino                                      [0.0]
Sao Tome and Principe                           [0.0]
Saudi Arabia                                    [0.0]
Singapore                                       [0.0]
Sint Maarten (Dutch part)                       [0.0]
Timor-Leste                                     [0.0]
Tokelau                                         [0.0]
Turkmenistan                                    [0.0]
Turks and Caicos Islands                        [0.0]
Tuvalu                                          [0.0]
United States Virgin Islands                    [0.0]
Western Sahara                                  [0.0]
Yemen                                           [0.0]
Name: Value, dtype: object

## Carbon Capture: computed through Carbon Capture & Deforestation scores

In [7]:
CCap = pd.read_csv('FAOSTAT_data_en_3-10-2024 (2).csv')

In [8]:
ccap=CCap.drop(columns=['Flag Description', 'Domain', 'Item','Flag', 'Area Code (M49)','Year Code','Domain Code','Element Code','Item Code','Note', 'Unit'])
ccap

          Area                         Element  Year      Value
0      Algeria  Carbon stock in living biomass  1990    31.1396
1      Algeria  Carbon stock in living biomass  1991    30.9831
2      Algeria  Carbon stock in living biomass  1992    30.8266
3      Algeria  Carbon stock in living biomass  1993    30.6701
4      Algeria  Carbon stock in living biomass  1994    30.5136
...        ...                             ...   ...        ...
6478  Zimbabwe  Carbon stock in living biomass  2017  1004.8564
6479  Zimbabwe  Carbon stock in living biomass  2018  1002.2235
6480  Zimbabwe  Carbon stock in living biomass  2019   999.5906
6481  Zimbabwe  Carbon stock in living biomass  2020   996.7833
6482  Zimbabwe  Carbon stock in living biomass  2021   994.0923

[6483 rows x 4 columns]

In [9]:
a=CCap.loc[CCap['Value']==0.0] #most countries with no carbon stock value are edge case places
a.groupby("Area")["Value"].unique()

Area
Falkland Islands (Malvinas)    [0.0]
Gibraltar                      [0.0]
Holy See                       [0.0]
Malta                          [0.0]
Monaco                         [0.0]
Nauru                          [0.0]
Qatar                          [0.0]
Tokelau                        [0.0]
Name: Value, dtype: object

#### Now, the problem is that to compute the final carbon capture score, it is the “percentage change in the ratio of carbon stock in living biomass over forest land from a 1990s average.” First, we compute an approximate 1990s average for forest land by averaging the 1990 and thereafter collected values (ie, iterate the averaging score across all years since 1980 for ALL countries). Then,  we compute the ratios for 1990s and 2018. Finally, we compute the percentage change in the ratios.

In [10]:
ccap_1990=ccap.loc[ccap['Year']==1990]
ccap_1990.head()

               Area                         Element  Year      Value
0           Algeria  Carbon stock in living biomass  1990    31.1396
32   American Samoa  Carbon stock in living biomass  1990     1.1540
64          Andorra  Carbon stock in living biomass  1990     1.3898
96           Angola  Carbon stock in living biomass  1990  1369.6608
128        Anguilla  Carbon stock in living biomass  1990     0.6954

In [11]:
ccap_1990[['Area','Value']].rename(columns={'Value':'Value in 1990'})

                                                   Area  Value in 1990
0                                               Algeria        31.1396
32                                       American Samoa         1.1540
64                                              Andorra         1.3898
96                                               Angola      1369.6608
128                                            Anguilla         0.6954
160                                 Antigua and Barbuda         1.2782
192                                           Argentina      3664.3844
254                                           Australia      8451.9833
286                                             Austria       334.7509
318                                             Bahamas        13.3532
350                                          Bangladesh        83.5920
434                                  Belgium-Luxembourg        53.7310
444                                              Belize       196.8037
476                                               Benin       282.4695
508                                              Bhutan       455.1452
540                    Bolivia (Plurinational State of)      4450.3854
602                                            Botswana      1756.2656
634                                              Brazil     58695.4637
666                              British Virgin Islands         0.4691
698                                   Brunei Darussalam        59.4513
730                                            Bulgaria       212.9280
762                                        Burkina Faso       293.2308
794                                             Burundi        18.9831
826                                          Cabo Verde         0.8797
858                                            Cambodia       559.1534
890                                            Cameroon      3475.5750
922                                              Canada     20642.1366
954                            Central African Republic      2935.6436
986                                                Chad       370.1500
1018                                              Chile      2057.1495
1050                                              China      4997.0708
1082                                    China, mainland      4997.0708
1114                                           Colombia      7331.8253
1146                                            Comoros         1.7167
1178                                              Congo      2976.8210
1210                                         Costa Rica       360.5176
1242                                      Côte d'Ivoire       448.6766
1304                                               Cuba       135.6428
1347                                             Cyprus         2.6728
1408                                     Czechoslovakia       332.7865
1411              Democratic People's Republic of Korea       272.0575
1443                   Democratic Republic of the Congo     22409.0763
1475                                            Denmark        30.5312
1507                                           Djibouti         0.3018
1539                                 Dominican Republic        83.7317
1571                                            Ecuador      1617.0055
1603                                              Egypt         3.1749
1635                                        El Salvador        47.1010
1667                                  Equatorial Guinea       337.4477
1758                                           Eswatini        21.7335
1819                                       Ethiopia PDR      1445.6938
1822                        Falkland Islands (Malvinas)         0.0000
1854                                               Fiji       112.5843
1886                                            Finland       622.3531
1918                                             France       964.3248
1950                                      French Guiana      1728.5938
1982                                   French Polynesia        12.6203
2014                                              Gabon      3091.6244
2046                                             Gambia        10.4080
2108                                            Germany       871.4560
2140                                              Ghana       593.6692
2172                                          Gibraltar         0.0000
2204                                             Greece        71.0508
2236                                            Grenada         1.1540
2268                                         Guadeloupe        14.8859
2300                                               Guam         1.8000
2332                                          Guatemala       367.5787
2364                                             Guinea       556.8323
2396                                      Guinea-Bissau       107.1998
2428                                             Guyana      5371.1848
2460                                              Haiti        21.1372
2492                                           Holy See         0.0000
2524                                           Honduras       503.3997
2556                                            Hungary       104.0453
2588                                            Iceland         0.2093
2620                                              India      2218.6486
2652                                          Indonesia     11172.8662
2684                         Iran (Islamic Republic of)       712.1984
2716                                               Iraq        25.7441
2748                                            Ireland        24.5962
2780                                             Israel         0.5887
2812                                              Italy       399.9798
2844                                            Jamaica        48.5155
2876                                              Japan      1147.7000
2908                                             Jordan         3.3374
2970                                              Kenya       457.0441
3032                   Lao People's Democratic Republic      1222.7808
3094                                            Lebanon         4.8923
3126                                            Lesotho         1.6394
3158                                            Liberia      1020.5565
3190                                              Libya         6.0500
3222                                      Liechtenstein         1.0484
3306                                         Madagascar      1327.8538
3338                                             Malawi       160.7280
3370                                           Malaysia      2568.8589
3402                                           Maldives         0.0645
3434                                               Mali       362.3160
3466                                              Malta         0.0000
3529                                         Martinique         8.6112
3561                                         Mauritania        12.1581
3593                                          Mauritius         2.9874
3625                                             Mexico      1943.3881
3688                                             Monaco         0.0000
3720                                           Mongolia       541.0704
3768                                            Morocco       119.4696
3800                                         Mozambique      2612.2232
3832                                            Myanmar      3004.9199
3864                                            Namibia       355.5898
3896                                              Nauru         0.0000
3928                                              Nepal       612.1790
3960                       Netherlands (Kingdom of the)         7.0793
3992                      Netherlands Antilles (former)         0.0032
4013                                      New Caledonia        70.1224
4045                                        New Zealand      1635.3674
4077                                          Nicaragua       339.4839
4109                                              Niger        47.1273
4141                                            Nigeria      2037.4690
4173                                               Niue         1.1964
4235                                             Norway       329.9904
4267                                               Oman         0.1880
4299                                           Pakistan       230.1404
4362                                             Panama       391.1683
4394                                   Papua New Guinea      3374.2503
4426                                           Paraguay      1146.4982
4458                                               Peru     10814.4105
4490                                        Philippines       939.2913
4522                                             Poland       470.7460
4554                                           Portugal        89.6996
4586                                        Puerto Rico        10.0167
4618                                              Qatar         0.0000
4650                                  Republic of Korea       134.6231
4712                                            Réunion         6.3324
4744                                            Romania       382.2600
4806                                             Rwanda        26.2698
4849                              Saint Kitts and Nevis         1.3907
4881                                        Saint Lucia         2.4339
4924                          Saint Pierre and Miquelon         0.0322
4956                   Saint Vincent and the Grenadines         3.5171
4988                                              Samoa        10.4516
5020                                         San Marino         0.0401
5052                              Sao Tome and Principe         5.5519
5084                                       Saudi Arabia        16.1889
5116                                            Senegal       260.8606
5178                                         Seychelles         3.3939
5210                                       Sierra Leone       144.6099
5242                                          Singapore         0.8849
5333                                    Solomon Islands       189.2904
5365                                            Somalia       510.6990
5397                                       South Africa       900.7548
5429                                              Spain       512.1086
5461                                          Sri Lanka       111.0061
5503                                     Sudan (former)       793.8480
5525                                           Suriname      3246.0639
5557                                             Sweden      1244.0328
5589                                        Switzerland       135.7670
5621                               Syrian Arab Republic        11.3670
5653                                           Thailand      1599.0250
5685                                        Timor-Leste        86.9101
5717                                               Togo        99.7007
5749                                            Tokelau         0.0000
5781                                              Tonga         1.0142
5813                                Trinidad and Tobago        13.0664
5845                                            Tunisia        19.9890
5877                                            Türkiye       429.8950
5939                           Turks and Caicos Islands         0.8371
5971                                             Uganda       199.8688
6033                               United Arab Emirates        12.2402
6065  United Kingdom of Great Britain and Northern I...       138.9000
6097                        United Republic of Tanzania      1974.2163
6129                           United States of America     14248.4195
6161                       United States Virgin Islands         0.4017
6193                                            Uruguay        41.5598
6225                                               USSR     37489.1223
6257                 Venezuela (Bolivarian Republic of)      6330.5237
6289                                           Viet Nam       307.7190
6321                          Wallis and Futuna Islands         0.5690
6353                                     Western Sahara        14.4859
6385                                              Yemen         5.1661
6417                                       Yugoslav SFR       714.4063
6419                                             Zambia      1308.5712
6451                                           Zimbabwe      1189.2814

In [12]:
merged_ccap=pd.merge(ccap, ccap_1990, on='Area')
clean_ccap=merged_ccap.rename(columns={'Value_x':'Value', 'Value_y': 'Value in 1990', 'Year_y':'Base year (1990)', 'Element_x':'Element', 'Year_x':'Year'}).drop(columns=['Element_y'])

In [13]:
clean_ccap['Average Natural Carbon Stock']=clean_ccap[['Value', 'Value in 1990']].mean(axis=1)
clean_ccap

,Area,Element,Year,Value,Base year (1990),Value in 1990,Average Natural Carbon Stock
0,Algeria,Carbon stock in living biomass,1990,31.1396,1990,31.1396,31.13960
1,Algeria,Carbon stock in living biomass,1991,30.9831,1990,31.1396,31.06135
2,Algeria,Carbon stock in living biomass,1992,30.8266,1990,31.1396,30.98310
3,Algeria,Carbon stock in living biomass,1993,30.6701,1990,31.1396,30.90485
4,Algeria,Carbon stock in living biomass,1994,30.5136,1990,31.1396,30.82660
...,...,...,...,...,...,...,...
5626,Zimbabwe,Carbon stock in living biomass,2017,1004.8564,1990,1189.2814,1097.06890
5627,Zimbabwe,Carbon stock in living biomass,2018,1002.2235,1990,1189.2814,1095.75245
5628,Zimbabwe,Carbon stock in living biomass,2019,999.5906,1990,1189.2814,1094.43600
5629,Zimbabwe,Carbon stock in living biomass,2020,996.7833,1990,1189.2814,1093.03235
5630,Zimbabwe,Carbon stock in living biomass,2021,994.0923,1990,1189.2814,1091.68685

In [14]:
defrst.head()

,Domain,Area Code (M49),Area,Element,Item,Year,Value,Unit
0,Land Use,4,Afghanistan,Area,Forest land,1990,1208.44,million metric tonnes
1,Land Use,4,Afghanistan,Area,Forest land,1991,1208.44,million metric tonnes
2,Land Use,4,Afghanistan,Area,Forest land,1992,1208.44,million metric tonnes
3,Land Use,4,Afghanistan,Area,Forest land,1993,1208.44,million metric tonnes
4,Land Use,4,Afghanistan,Area,Forest land,1994,1208.44,million metric tonnes

In [15]:
clean_defrst=defrst[['Area', 'Item', 'Year','Value']]
#pd.merge(ccap, ccap_1990, on='Area')

In [16]:
merged_cc=pd.merge(clean_defrst, clean_ccap, on='Area').drop(columns=['Year_y']).rename(columns={'Value_x':'Forest Land Value', 'Year_x': 'Year', 'Value_y': 'Carbon Value', 'Value in 1990':'Carbon Value in 1990'})

In [17]:
merged_cc['Carbon Capture']=merged_cc['Average Natural Carbon Stock']/merged_cc['Forest Land Value']
merged_cc['Unit']='million metric tonnes'
merged_cc['Description']='Natural carbon capture is computed as the ratio between the average change in natural carbon capture since 1990 to the current forest land'
clean_carbon_capture=merged_cc
clean_carbon_capture

,Area,Item,Year,Forest Land Value,Element,Carbon Value,Base year (1990),Carbon Value in 1990,Average Natural Carbon Stock,Carbon Capture,Unit,Description
0,Algeria,Forest land,1990,1667.0,Carbon stock in living biomass,31.1396,1990,31.1396,31.13960,0.018680,million metric tonnes,Natural carbon capture is computed as the rati...
1,Algeria,Forest land,1990,1667.0,Carbon stock in living biomass,30.9831,1990,31.1396,31.06135,0.018633,million metric tonnes,Natural carbon capture is computed as the rati...
2,Algeria,Forest land,1990,1667.0,Carbon stock in living biomass,30.8266,1990,31.1396,30.98310,0.018586,million metric tonnes,Natural carbon capture is computed as the rati...
3,Algeria,Forest land,1990,1667.0,Carbon stock in living biomass,30.6701,1990,31.1396,30.90485,0.018539,million metric tonnes,Natural carbon capture is computed as the rati...
4,Algeria,Forest land,1990,1667.0,Carbon stock in living biomass,30.5136,1990,31.1396,30.82660,0.018492,million metric tonnes,Natural carbon capture is computed as the rati...
...,...,...,...,...,...,...,...,...,...,...,...,...
527404,Zimbabwe,Planted Forest,2021,108.0,Carbon stock in living biomass,1004.8564,1990,1189.2814,1097.06890,10.158045,million metric tonnes,Natural carbon capture is computed as the rati...
527405,Zimbabwe,Planted Forest,2021,108.0,Carbon stock in living biomass,1002.2235,1990,1189.2814,1095.75245,10.145856,million metric tonnes,Natural carbon capture is computed as the rati...
527406,Zimbabwe,Planted Forest,2021,108.0,Carbon stock in living biomass,999.5906,1990,1189.2814,1094.43600,10.133667,million metric tonnes,Natural carbon capture is computed as the rati...
527407,Zimbabwe,Planted Forest,2021,108.0,Carbon stock in living biomass,996.7833,1990,1189.2814,1093.03235,10.120670,million metric tonnes,Natural carbon capture is computed as the rati...
527408,Zimbabwe,Planted Forest,2021,108.0,Carbon stock in living biomass,994.0923,1990,1189.2814,1091.68685,10.108212,million metric tonnes,Natural carbon capture is computed as the rati...

In [18]:
clean_carbon_capture.to_csv("cleanedCARBON.csv")

## Nitrogen ##

In [19]:
pip install xlrd

Collecting xlrd
  Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [21]:
epi_file = '2018-epi.xlsx' # data is from EPI's biannual report (for this, it's 2018)
epi = pd.read_excel(epi_file, '2018EPI_ScoresCurrent')
epi.head()

,code,iso,country,EPI.current,HLT.current,AIR.current,H2O.current,HMT.current,ECO.current,BDH.current,...,MTR.current,DCT.current,DPT.current,DMT.current,DNT.current,DBT.current,DST.current,DXT.current,WWT.current,SNM.current
0,4,AFG,Afghanistan,37.74,36.76,44.67,25.75,0.00,38.40,13.44,...,-9999.00,23.47,-9999.00,53.62,50.10,67.66,82.88,100.00,0.00,44.77
1,8,ALB,Albania,65.46,65.67,65.47,66.56,62.89,65.32,75.37,...,61.77,53.77,100.00,73.30,63.65,72.61,83.25,88.90,80.73,22.61
2,12,DZA,Algeria,57.18,80.95,93.98,60.26,35.60,41.34,49.33,...,60.58,17.14,46.35,37.76,23.99,6.93,83.63,8.68,91.60,34.26
3,24,AGO,Angola,37.44,33.79,44.66,9.20,40.08,39.88,39.19,...,38.35,55.00,40.18,36.11,63.78,58.16,59.85,55.99,0.00,22.70
4,28,ATG,Antigua and Barbuda,59.18,76.53,89.13,53.33,52.04,47.61,88.49,...,59.13,0.00,-9999.00,22.94,85.88,47.50,46.86,47.03,64.44,7.26

In [22]:
epi[['iso', 'country','SNM.current']].head() #snm is on nitrogen management

   iso              country  SNM.current
0  AFG          Afghanistan        44.77
1  ALB              Albania        22.61
2  DZA              Algeria        34.26
3  AGO               Angola        22.70
4  ATG  Antigua and Barbuda         7.26

In [23]:
#missing data:
epi1=epi[['iso', 'country','SNM.current']]
epi1[epi1.isna().any(axis=1)]
#apparently there is no country in the list missing Nitrogen data!

Empty DataFrame
Columns: [iso, country, SNM.current]
Index: []

#### WITH SSPI' BULK DATA

In [24]:
snm_2022=pd.read_csv('SNM_raw (1).csv')
snm_2022.head(15) #a lot of strange values but I think goal-posting will fix the problem

,code,iso,country,SNM.raw.1961,SNM.raw.1962,SNM.raw.1963,SNM.raw.1964,SNM.raw.1965,SNM.raw.1966,SNM.raw.1967,...,SNM.raw.2006,SNM.raw.2007,SNM.raw.2008,SNM.raw.2009,SNM.raw.2010,SNM.raw.2011,SNM.raw.2012,SNM.raw.2013,SNM.raw.2014,SNM.raw.2015
0,4,AFG,Afghanistan,0.000000,0.790609,0.802655,0.785905,0.782866,0.801205,0.762432,...,0.723017,0.655114,0.640026,0.608648,0.611114,0.737539,0.823029,0.686732,0.648274,0.668763
1,8,ALB,Albania,1.101448,1.051832,1.051140,1.014870,1.036413,0.963800,0.971312,...,0.956283,0.953287,0.891333,0.877849,0.835016,0.831228,0.834036,0.810873,0.812218,0.851394
2,12,DZA,Algeria,0.925632,1.138094,1.024589,0.901072,0.963538,0.935814,0.895745,...,0.745333,0.773993,0.756695,0.759777,0.726148,0.697795,0.694354,0.686745,0.778200,0.752511
3,20,AND,Andorra,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,...,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000
4,24,AGO,Angola,0.880651,0.887588,0.893791,0.883528,0.886632,0.898583,0.907756,...,0.926125,0.947929,0.910338,0.924042,0.935621,0.902627,0.973230,0.891369,0.953422,0.963949
5,660,AIA,Anguilla,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,...,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000
6,28,ATG,Antigua and Barbuda,1.137189,1.107661,1.040947,1.026203,1.162898,1.208191,1.224500,...,1.326673,1.313726,1.315688,1.317395,1.302731,1.314166,1.314998,1.313858,1.309752,1.295053
7,32,ARG,Argentina,0.800651,0.794512,0.863438,0.924786,0.756822,0.776667,0.809538,...,0.357478,0.360974,0.314453,0.322126,0.351357,0.327483,0.299505,0.322863,0.311469,0.295102
8,51,ARM,Armenia,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,0.695424,0.516132,0.533623,0.640364,0.686859,0.551368,0.633244,0.593491,0.505360,0.578095
9,533,ABW,Aruba,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,...,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000,-8888.000000
10,36,AUS,Australia,0.832185,0.878386,0.795037,0.867193,0.790816,0.961849,0.835404,...,0.550031,0.650887,0.812848,0.670115,0.690323,0.570816,0.535262,0.666981,0.654083,0.692644
11,40,AUT,Austria,0.784891,0.805957,0.795824,0.780045,0.873268,0.756487,0.725720,...,0.451901,0.376775,0.297162,0.316770,0.373083,0.276864,0.411054,0.430221,0.400476,0.436556
12,31,AZE,Azerbaijan,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,0.601405,0.637090,0.519006,0.771687,0.842214,0.610737,0.570529,0.617494,0.575700,0.486331
13,44,BHS,Bahamas,1.120018,1.116575,1.109558,1.109381,1.115138,1.174097,1.188341,...,1.142624,1.116551,1.118834,1.131889,1.095705,1.096353,1.174457,1.155258,1.159218,1.173375
14,48,BHR,Bahrain,1.266185,1.265712,1.265695,1.265695,1.265978,1.263296,1.263192,...,0.785394,0.795019,0.752171,0.761675,0.782256,0.848546,0.872056,0.888935,0.903240,0.911054

In [25]:
a = np.array(snm_2022[snm_2022.columns[-55:]].values.tolist())
snm_2022_v2=snm_2022[snm_2022.columns[-55:]] = np.where(a <-100, 0, a).tolist()

In [26]:
snm_2022[snm_2022.columns[-55:]] = snm_2022[snm_2022.columns[-55:]].apply(lambda x: [y if y > -1000 else 0 for y in x])
snm_2022.head()

,code,iso,country,SNM.raw.1961,SNM.raw.1962,SNM.raw.1963,SNM.raw.1964,SNM.raw.1965,SNM.raw.1966,SNM.raw.1967,...,SNM.raw.2006,SNM.raw.2007,SNM.raw.2008,SNM.raw.2009,SNM.raw.2010,SNM.raw.2011,SNM.raw.2012,SNM.raw.2013,SNM.raw.2014,SNM.raw.2015
0,4,AFG,Afghanistan,0.000000,0.790609,0.802655,0.785905,0.782866,0.801205,0.762432,...,0.723017,0.655114,0.640026,0.608648,0.611114,0.737539,0.823029,0.686732,0.648274,0.668763
1,8,ALB,Albania,1.101448,1.051832,1.051140,1.014870,1.036413,0.963800,0.971312,...,0.956283,0.953287,0.891333,0.877849,0.835016,0.831228,0.834036,0.810873,0.812218,0.851394
2,12,DZA,Algeria,0.925632,1.138094,1.024589,0.901072,0.963538,0.935814,0.895745,...,0.745333,0.773993,0.756695,0.759777,0.726148,0.697795,0.694354,0.686745,0.778200,0.752511
3,20,AND,Andorra,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,24,AGO,Angola,0.880651,0.887588,0.893791,0.883528,0.886632,0.898583,0.907756,...,0.926125,0.947929,0.910338,0.924042,0.935621,0.902627,0.973230,0.891369,0.953422,0.963949

In [27]:
snm_2022['Description']= 'Sustainable Nitrogen Management is a unitless index, ranging from 0 to 2, geometrically calculating the country’s current position relative to its reference point on two attributes: nitrogen efficiency in agriculture and crop yield in relation to environmental performance'

In [28]:
snm_2022.head()

,code,iso,country,SNM.raw.1961,SNM.raw.1962,SNM.raw.1963,SNM.raw.1964,SNM.raw.1965,SNM.raw.1966,SNM.raw.1967,...,SNM.raw.2007,SNM.raw.2008,SNM.raw.2009,SNM.raw.2010,SNM.raw.2011,SNM.raw.2012,SNM.raw.2013,SNM.raw.2014,SNM.raw.2015,Description
0,4,AFG,Afghanistan,0.000000,0.790609,0.802655,0.785905,0.782866,0.801205,0.762432,...,0.655114,0.640026,0.608648,0.611114,0.737539,0.823029,0.686732,0.648274,0.668763,Sustainable Nitrogen Management is a unitless ...
1,8,ALB,Albania,1.101448,1.051832,1.051140,1.014870,1.036413,0.963800,0.971312,...,0.953287,0.891333,0.877849,0.835016,0.831228,0.834036,0.810873,0.812218,0.851394,Sustainable Nitrogen Management is a unitless ...
2,12,DZA,Algeria,0.925632,1.138094,1.024589,0.901072,0.963538,0.935814,0.895745,...,0.773993,0.756695,0.759777,0.726148,0.697795,0.694354,0.686745,0.778200,0.752511,Sustainable Nitrogen Management is a unitless ...
3,20,AND,Andorra,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Sustainable Nitrogen Management is a unitless ...
4,24,AGO,Angola,0.880651,0.887588,0.893791,0.883528,0.886632,0.898583,0.907756,...,0.947929,0.910338,0.924042,0.935621,0.902627,0.973230,0.891369,0.953422,0.963949,Sustainable Nitrogen Management is a unitless ...

In [29]:
snm_2022.to_csv("cleanedSNM_2022.csv")

## Beef Market

### 1. beef and buffalo production

In [54]:
beef_production=pd.read_csv('beef-and-buffalo-meat-production-tonnes.csv')
beef_production

,Entity,Code,Year,"Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes"
0,Afghanistan,AFG,1961,43000.00
1,Afghanistan,AFG,1962,45800.00
2,Afghanistan,AFG,1963,47250.00
3,Afghanistan,AFG,1964,48000.00
4,Afghanistan,AFG,1965,48700.00
...,...,...,...,...
13805,Zimbabwe,ZWE,2017,609788.00
13806,Zimbabwe,ZWE,2018,616480.00
13807,Zimbabwe,ZWE,2019,629189.00
13808,Zimbabwe,ZWE,2020,628746.00
13809,Zimbabwe,ZWE,2021,806293.75

In [62]:
#missing data:
bp=beef_production[['Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes']]
bp[bp.isna().any(axis=1)]
#also no missing countries...

Empty DataFrame
Columns: [Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes]
Index: []

In [56]:
bp.max()

Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes    76768270.0
dtype: float64

### 2. per capita meat consumption

In [57]:
beef_consumption=pd.read_csv('per-capita-meat-consumption-by-type-kilograms-per-year.csv')
beef_consumption

,Entity,Code,Year,"Meat, Other | 00002735 || Food available for consumption | 0645pc || kilograms per year per capita","Meat, sheep and goat | 00002732 || Food available for consumption | 0645pc || kilograms per year per capita","Meat, beef | 00002731 || Food available for consumption | 0645pc || kilograms per year per capita","Meat, pig | 00002733 || Food available for consumption | 0645pc || kilograms per year per capita","Meat, poultry | 00002734 || Food available for consumption | 0645pc || kilograms per year per capita"
0,Afghanistan,AFG,1961,0.865845,8.332486,4.889479,NaN,0.641744
1,Afghanistan,AFG,1962,0.896969,8.072717,5.106605,NaN,0.672726
2,Afghanistan,AFG,1963,1.091328,8.251259,5.160862,NaN,0.673156
3,Afghanistan,AFG,1964,1.030673,8.520909,5.132955,NaN,0.683714
4,Afghanistan,AFG,1965,1.082147,8.820517,5.094256,NaN,0.714625
...,...,...,...,...,...,...,...,...
12355,Zimbabwe,ZWE,2016,2.601678,1.436748,43.684890,1.572656,5.174232
12356,Zimbabwe,ZWE,2017,2.499662,1.804775,41.403670,0.743143,5.086185
12357,Zimbabwe,ZWE,2018,2.388530,1.822573,40.988712,0.517995,4.383768
12358,Zimbabwe,ZWE,2019,2.375002,1.774098,40.975937,0.686748,4.473397
12359,Zimbabwe,ZWE,2020,2.333349,1.764239,40.122208,0.644991,4.382142

In [58]:
#not sure which column of data we're taking...
bc=beef_consumption[['Entity','Meat, beef | 00002731 || Food available for consumption | 0645pc || kilograms per year per capita']]
bc[bc.isna().any(axis=1)]
#no missing data!

Empty DataFrame
Columns: [Entity, Meat, beef | 00002731 || Food available for consumption | 0645pc || kilograms per year per capita]
Index: []

In [76]:
methane=pd.merge(beef_production, beef_consumption, on='Entity').rename(columns={'Entity':'Country', 'Code_x':'Country Code', 'Year_x':'Meat Production Year', 'Meat, beef and buffalo | 00001806 || Production | 005510 || tonnes': 'Meat (Beef & Buffalo) Production (tonnes)','Code_y': 'Meat Consumption Country Code', 'Year_y':'Meat Consumption Year', 'Meat, beef | 00002731 || Food available for consumption | 0645pc || kilograms per year per capita':'Per Capital Meat (Beef & Buffalo) Consumption (kg per year)'})
methane.drop(columns=['Meat, Other | 00002735 || Food available for consumption | 0645pc || kilograms per year per capita','Meat, sheep and goat | 00002732 || Food available for consumption | 0645pc || kilograms per year per capita', 'Meat, pig | 00002733 || Food available for consumption | 0645pc || kilograms per year per capita', 'Meat, poultry | 00002734 || Food available for consumption | 0645pc || kilograms per year per capita'])

,Country,Country Code,Meat Production Year,Meat (Beef & Buffalo) Production (tonnes),Meat Consumption Country Code,Meat Consumption Year,Per Capital Meat (Beef & Buffalo) Consumption (kg per year)
0,Afghanistan,AFG,1961,43000.00,AFG,1961,4.889479
1,Afghanistan,AFG,1961,43000.00,AFG,1962,5.106605
2,Afghanistan,AFG,1961,43000.00,AFG,1963,5.160862
3,Afghanistan,AFG,1961,43000.00,AFG,1964,5.132955
4,Afghanistan,AFG,1961,43000.00,AFG,1965,5.094256
...,...,...,...,...,...,...,...
710572,Zimbabwe,ZWE,2021,806293.75,ZWE,2016,43.684890
710573,Zimbabwe,ZWE,2021,806293.75,ZWE,2017,41.403670
710574,Zimbabwe,ZWE,2021,806293.75,ZWE,2018,40.988712
710575,Zimbabwe,ZWE,2021,806293.75,ZWE,2019,40.975937
710576,Zimbabwe,ZWE,2021,806293.75,ZWE,2020,40.122208

In [71]:
methane.to_csv("cleanedMethane.csv")

### Municipal Solid Waste Generation

In [35]:
waste=pd.read_csv('country_level_data.csv')

In [36]:
waste.drop(columns=['region_id']).head()

,iso3c,country_name,income_id,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,composition_plastic_percent,...,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent,where_where_is_this_data_measured
0,ABW,Aruba,HIC,35563.312500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.0,NaN,89.0,NaN,NaN
1,AFG,Afghanistan,LIC,2057.062256,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
2,AGO,Angola,LMC,8036.690430,51.8,6.7,4.4,11.50,11.9,13.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,Albania,UMC,13724.058594,51.4,4.5,4.8,15.21,9.9,9.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some disposal sites
4,AND,Andorra,HIC,43711.800781,31.2,8.2,2.6,11.60,35.1,11.3,...,NaN,52.1,NaN,NaN,NaN,NaN,NaN,47.9,NaN,NaN

In [103]:
waste[['iso3c', 'country_name', 'total_msw_total_msw_generated_tons_year']].head()

  country_name  total_msw_total_msw_generated_tons_year
0        Aruba                             8.813202e+04
1  Afghanistan                             5.628525e+06
2       Angola                             4.213644e+06
3      Albania                             1.087447e+06
4      Andorra                             4.300000e+04

In [104]:
muni_waste=waste[['iso3c', 'country_name', 'total_msw_total_msw_generated_tons_year']]
muni_waste[muni_waste.isna().any(axis=1)]
#the following are missing

    iso3c               country_name  total_msw_total_msw_generated_tons_year
183   SXM  Sint Maarten (Dutch part)                                      NaN
186   TCA   Turks and Caicos Islands                                      NaN
198   TWN                        NaN                                7336000.0

### E-waste

In [39]:
waste[['iso3c', 'country_name', 'special_waste_e_waste_tons_year']].head()

  iso3c country_name  special_waste_e_waste_tons_year
0   ABW        Aruba                              NaN
1   AFG  Afghanistan                          20000.0
2   AGO       Angola                          92000.0
3   ALB      Albania                          20000.0
4   AND      Andorra                              NaN

In [108]:
#missing data - lots of them!
ewaste=waste[['country_name', 'special_waste_e_waste_tons_year']]
c=ewaste[ewaste.isna().any(axis=1)]

### Waste Collection Rate

In [41]:
waste[['iso3c', 'country_name', 'waste_collection_coverage_total_percent_of_population']].head()

  iso3c country_name  waste_collection_coverage_total_percent_of_population
0   ABW        Aruba                                                NaN
1   AFG  Afghanistan                                                NaN
2   AGO       Angola                                               23.1
3   ALB      Albania                                               60.0
4   AND      Andorra                                              100.0

In [105]:
#a lot of missing data
colrate=waste[['country_name', 'waste_collection_coverage_total_percent_of_population']]
a=colrate[colrate.isna().any(axis=1)]
a

,country_name,waste_collection_coverage_total_percent_of_population
0,Aruba,NaN
1,Afghanistan,NaN
5,United Arab Emirates,NaN
7,Armenia,NaN
10,Australia,NaN
11,Austria,NaN
13,Burundi,NaN
14,Belgium,NaN
15,Benin,NaN
17,Bangladesh,NaN
18,Bulgaria,NaN
19,Bahrain,NaN
20,"Bahamas, The",NaN
21,Bosnia and Herzegovina,NaN
28,Brunei Darussalam,NaN
29,Bhutan,NaN
30,Botswana,NaN
31,Central African Republic,NaN
34,Channel Islands,NaN
35,Chile,NaN
37,Côte d’Ivoire,NaN
39,"Congo, Dem. Rep.",NaN
40,"Congo, Rep.",NaN
42,Comoros,NaN
46,Curacao,NaN
47,Cayman Islands,NaN
48,Cyprus,NaN
49,Czech Republic,NaN
50,Germany,NaN
51,Djibouti,NaN
53,Denmark,NaN
54,Dominican Republic,NaN
55,Algeria,NaN
56,Ecuador,NaN
57,"Egypt, Arab Rep.",NaN
58,Eritrea,NaN
59,Spain,NaN
60,Estonia,NaN
61,Ethiopia,NaN
62,Finland,NaN
63,Fiji,NaN
64,France,NaN
65,Faeroe Islands,NaN
68,United Kingdom,NaN
70,Ghana,NaN
71,Gibraltar,NaN
72,Guinea,NaN
73,"Gambia, The",NaN
74,Guinea-Bissau,NaN
75,Equatorial Guinea,NaN
76,Greece,NaN
77,Grenada,NaN
78,Greenland,NaN
84,Croatia,NaN
85,Haiti,NaN
86,Hungary,NaN
88,Isle of Man,NaN
89,India,NaN
90,Ireland,NaN
94,Israel,NaN
95,Italy,NaN
97,Jordan,NaN
101,Kyrgyz Republic,NaN
102,Cambodia,NaN
107,Lao PDR,NaN
108,Lebanon,NaN
109,Liberia,NaN
110,Libya,NaN
113,Sri Lanka,NaN
115,Lithuania,NaN
116,Luxembourg,NaN
117,Latvia,NaN
119,St. Martin (French part),NaN
120,Morocco,NaN
122,Moldova,NaN
125,Mexico,NaN
128,Mali,NaN
129,Malta,NaN
132,Mongolia,NaN
133,Northern Mariana Islands,NaN
134,Mozambique,NaN
135,Mauritania,NaN
137,Malawi,NaN
138,Malaysia,NaN
139,Namibia,NaN
141,Niger,NaN
142,Nigeria,NaN
144,Netherlands,NaN
146,Nepal,NaN
149,Oman,NaN
150,Pakistan,NaN
153,Philippines,NaN
155,Papua New Guinea,NaN
156,Poland,NaN
157,Puerto Rico,NaN
158,Portugal,NaN
163,Romania,NaN
164,Russian Federation,NaN
165,Rwanda,NaN
167,Sudan,NaN
171,Sierra Leone,NaN
173,San Marino,NaN
174,Somalia,NaN
176,South Sudan,NaN
179,Slovak Republic,NaN
180,Slovenia,NaN
181,Sweden,NaN
182,Eswatini,NaN
183,Sint Maarten (Dutch part),NaN
184,Seychelles,NaN
186,Turks and Caicos Islands,NaN
187,Chad,NaN
188,Togo,NaN
189,Thailand,NaN
191,Turkmenistan,NaN
192,Timor-Leste,NaN
196,Turkey,NaN
198,NaN,NaN
199,Tanzania,NaN
200,Uganda,NaN
204,Uzbekistan,NaN
205,St. Vincent and the Grenadines,NaN
208,Virgin Islands (U.S.),NaN
214,South Africa,NaN
216,Zimbabwe,NaN

### Recycling Rate

In [43]:
waste[['iso3c', 'country_name', 'waste_treatment_recycling_percent']].head()

  iso3c country_name  waste_treatment_recycling_percent
0   ABW        Aruba                               11.0
1   AFG  Afghanistan                                NaN
2   AGO       Angola                                NaN
3   ALB      Albania                                NaN
4   AND      Andorra                                NaN

In [106]:
#also a lot of missing data
rerate=waste[['country_name', 'waste_treatment_recycling_percent']]
b=rerate[rerate.isna().any(axis=1)]

### COUNTRIES WITH MISSING WASTE DATA

In [45]:
combined_df=[a,b,c]
missing_waste_data = pd.concat(combined_df)
missing_waste_data

,iso3c,country_name,waste_collection_coverage_total_percent_of_population,waste_treatment_recycling_percent,special_waste_e_waste_tons_year
0,ABW,Aruba,NaN,NaN,NaN
1,AFG,Afghanistan,NaN,NaN,NaN
5,ARE,United Arab Emirates,NaN,NaN,NaN
7,ARM,Armenia,NaN,NaN,NaN
10,AUS,Australia,NaN,NaN,NaN
11,AUT,Austria,NaN,NaN,NaN
13,BDI,Burundi,NaN,NaN,NaN
14,BEL,Belgium,NaN,NaN,NaN
15,BEN,Benin,NaN,NaN,NaN
17,BGD,Bangladesh,NaN,NaN,NaN
18,BGR,Bulgaria,NaN,NaN,NaN
19,BHR,Bahrain,NaN,NaN,NaN
20,BHS,"Bahamas, The",NaN,NaN,NaN
21,BIH,Bosnia and Herzegovina,NaN,NaN,NaN
28,BRN,Brunei Darussalam,NaN,NaN,NaN
29,BTN,Bhutan,NaN,NaN,NaN
30,BWA,Botswana,NaN,NaN,NaN
31,CAF,Central African Republic,NaN,NaN,NaN
34,CHI,Channel Islands,NaN,NaN,NaN
35,CHL,Chile,NaN,NaN,NaN
37,CIV,Côte d’Ivoire,NaN,NaN,NaN
39,COD,"Congo, Dem. Rep.",NaN,NaN,NaN
40,COG,"Congo, Rep.",NaN,NaN,NaN
42,COM,Comoros,NaN,NaN,NaN
46,CUW,Curacao,NaN,NaN,NaN
47,CYM,Cayman Islands,NaN,NaN,NaN
48,CYP,Cyprus,NaN,NaN,NaN
49,CZE,Czech Republic,NaN,NaN,NaN
50,DEU,Germany,NaN,NaN,NaN
51,DJI,Djibouti,NaN,NaN,NaN
53,DNK,Denmark,NaN,NaN,NaN
54,DOM,Dominican Republic,NaN,NaN,NaN
55,DZA,Algeria,NaN,NaN,NaN
56,ECU,Ecuador,NaN,NaN,NaN
57,EGY,"Egypt, Arab Rep.",NaN,NaN,NaN
58,ERI,Eritrea,NaN,NaN,NaN
59,ESP,Spain,NaN,NaN,NaN
60,EST,Estonia,NaN,NaN,NaN
61,ETH,Ethiopia,NaN,NaN,NaN
62,FIN,Finland,NaN,NaN,NaN
63,FJI,Fiji,NaN,NaN,NaN
64,FRA,France,NaN,NaN,NaN
65,FRO,Faeroe Islands,NaN,NaN,NaN
68,GBR,United Kingdom,NaN,NaN,NaN
70,GHA,Ghana,NaN,NaN,NaN
71,GIB,Gibraltar,NaN,NaN,NaN
72,GIN,Guinea,NaN,NaN,NaN
73,GMB,"Gambia, The",NaN,NaN,NaN
74,GNB,Guinea-Bissau,NaN,NaN,NaN
75,GNQ,Equatorial Guinea,NaN,NaN,NaN
76,GRC,Greece,NaN,NaN,NaN
77,GRD,Grenada,NaN,NaN,NaN
78,GRL,Greenland,NaN,NaN,NaN
84,HRV,Croatia,NaN,NaN,NaN
85,HTI,Haiti,NaN,NaN,NaN
86,HUN,Hungary,NaN,NaN,NaN
88,IMN,Isle of Man,NaN,NaN,NaN
89,IND,India,NaN,NaN,NaN
90,IRL,Ireland,NaN,NaN,NaN
94,ISR,Israel,NaN,NaN,NaN
95,ITA,Italy,NaN,NaN,NaN
97,JOR,Jordan,NaN,NaN,NaN
101,KGZ,Kyrgyz Republic,NaN,NaN,NaN
102,KHM,Cambodia,NaN,NaN,NaN
107,LAO,Lao PDR,NaN,NaN,NaN
108,LBN,Lebanon,NaN,NaN,NaN
109,LBR,Liberia,NaN,NaN,NaN
110,LBY,Libya,NaN,NaN,NaN
113,LKA,Sri Lanka,NaN,NaN,NaN
115,LTU,Lithuania,NaN,NaN,NaN
116,LUX,Luxembourg,NaN,NaN,NaN
117,LVA,Latvia,NaN,NaN,NaN
119,MAF,St. Martin (French part),NaN,NaN,NaN
120,MAR,Morocco,NaN,NaN,NaN
122,MDA,Moldova,NaN,NaN,NaN
125,MEX,Mexico,NaN,NaN,NaN
128,MLI,Mali,NaN,NaN,NaN
129,MLT,Malta,NaN,NaN,NaN
132,MNG,Mongolia,NaN,NaN,NaN
133,MNP,Northern Mariana Islands,NaN,NaN,NaN
134,MOZ,Mozambique,NaN,NaN,NaN
135,MRT,Mauritania,NaN,NaN,NaN
137,MWI,Malawi,NaN,NaN,NaN
138,MYS,Malaysia,NaN,NaN,NaN
139,NAM,Namibia,NaN,NaN,NaN
141,NER,Niger,NaN,NaN,NaN
142,NGA,Nigeria,NaN,NaN,NaN
144,NLD,Netherlands,NaN,NaN,NaN
146,NPL,Nepal,NaN,NaN,NaN
149,OMN,Oman,NaN,NaN,NaN
150,PAK,Pakistan,NaN,NaN,NaN
153,PHL,Philippines,NaN,NaN,NaN
155,PNG,Papua New Guinea,NaN,NaN,NaN
156,POL,Poland,NaN,NaN,NaN
157,PRI,Puerto Rico,NaN,NaN,NaN
158,PRT,Portugal,NaN,NaN,NaN
163,ROU,Romania,NaN,NaN,NaN
164,RUS,Russian Federation,NaN,NaN,NaN
165,RWA,Rwanda,NaN,NaN,NaN
167,SDN,Sudan,NaN,NaN,NaN
171,SLE,Sierra Leone,NaN,NaN,NaN
173,SMR,San Marino,NaN,NaN,NaN
174,SOM,Somalia,NaN,NaN,NaN
176,SSD,South Sudan,NaN,NaN,NaN
179,SVK,Slovak Republic,NaN,NaN,NaN
180,SVN,Slovenia,NaN,NaN,NaN
181,SWE,Sweden,NaN,NaN,NaN
182,SWZ,Eswatini,NaN,NaN,NaN
183,SXM,Sint Maarten (Dutch part),NaN,NaN,NaN
184,SYC,Seychelles,NaN,NaN,NaN
186,TCA,Turks and Caicos Islands,NaN,NaN,NaN
187,TCD,Chad,NaN,NaN,NaN
188,TGO,Togo,NaN,NaN,NaN
189,THA,Thailand,NaN,NaN,NaN
191,TKM,Turkmenistan,NaN,NaN,NaN
192,TLS,Timor-Leste,NaN,NaN,NaN
196,TUR,Turkey,NaN,NaN,NaN
198,TWN,NaN,NaN,NaN,NaN
199,TZA,Tanzania,NaN,NaN,NaN
200,UGA,Uganda,NaN,NaN,NaN
204,UZB,Uzbekistan,NaN,NaN,NaN
205,VCT,St. Vincent and the Grenadines,NaN,NaN,NaN
208,VIR,Virgin Islands (U.S.),NaN,NaN,NaN
214,ZAF,South Africa,NaN,NaN,NaN
216,ZWE,Zimbabwe,NaN,NaN,NaN
1,AFG,Afghanistan,NaN,NaN,NaN
2,AGO,Angola,NaN,NaN,NaN
3,ALB,Albania,NaN,NaN,NaN
4,AND,Andorra,NaN,NaN,NaN
7,ARM,Armenia,NaN,NaN,NaN
8,ASM,American Samoa,NaN,NaN,NaN
9,ATG,Antigua and Barbuda,NaN,NaN,NaN
12,AZE,Azerbaijan,NaN,NaN,NaN
13,BDI,Burundi,NaN,NaN,NaN
17,BGD,Bangladesh,NaN,NaN,NaN
20,BHS,"Bahamas, The",NaN,NaN,NaN
23,BLZ,Belize,NaN,NaN,NaN
28,BRN,Brunei Darussalam,NaN,NaN,NaN
31,CAF,Central African Republic,NaN,NaN,NaN
36,CHN,China,NaN,NaN,NaN
42,COM,Comoros,NaN,NaN,NaN
43,CPV,Cabo Verde,NaN,NaN,NaN
51,DJI,Djibouti,NaN,NaN,NaN
52,DMA,Dominica,NaN,NaN,NaN
58,ERI,Eritrea,NaN,NaN,NaN
61,ETH,Ethiopia,NaN,NaN,NaN
66,FSM,"Micronesia, Fed. Sts.",NaN,NaN,NaN
67,GAB,Gabon,NaN,NaN,NaN
69,GEO,Georgia,NaN,NaN,NaN
70,GHA,Ghana,NaN,NaN,NaN
71,GIB,Gibraltar,NaN,NaN,NaN
73,GMB,"Gambia, The",NaN,NaN,NaN
74,GNB,Guinea-Bissau,NaN,NaN,NaN
75,GNQ,Equatorial Guinea,NaN,NaN,NaN
77,GRD,Grenada,NaN,NaN,NaN
78,GRL,Greenland,NaN,NaN,NaN
79,GTM,Guatemala,NaN,NaN,NaN
83,HND,Honduras,NaN,NaN,NaN
85,HTI,Haiti,NaN,NaN,NaN
92,IRQ,Iraq,NaN,NaN,NaN
96,JAM,Jamaica,NaN,NaN,NaN
101,KGZ,Kyrgyz Republic,NaN,NaN,NaN
102,KHM,Cambodia,NaN,NaN,NaN
103,KIR,Kiribati,NaN,NaN,NaN
104,KNA,St. Kitts and Nevis,NaN,NaN,NaN
106,KWT,Kuwait,NaN,NaN,NaN
109,LBR,Liberia,NaN,NaN,NaN
110,LBY,Libya,NaN,NaN,NaN
111,LCA,St. Lucia,NaN,NaN,NaN
114,LSO,Lesotho,NaN,NaN,NaN
119,MAF,St. Martin (French part),NaN,NaN,NaN
123,MDG,Madagascar,NaN,NaN,NaN
124,MDV,Maldives,NaN,NaN,NaN
128,MLI,Mali,NaN,NaN,NaN
130,MMR,Myanmar,NaN,NaN,NaN
132,MNG,Mongolia,NaN,NaN,NaN
136,MUS,Mauritius,NaN,NaN,NaN
137,MWI,Malawi,NaN,NaN,NaN
140,NCL,New Caledonia,NaN,NaN,NaN
142,NGA,Nigeria,NaN,NaN,NaN
143,NIC,Nicaragua,NaN,NaN,NaN
146,NPL,Nepal,NaN,NaN,NaN
147,NRU,Nauru,NaN,NaN,NaN
148,NZL,New Zealand,NaN,NaN,NaN
149,OMN,Oman,NaN,NaN,NaN
151,PAN,Panama,NaN,NaN,NaN
154,PLW,Palau,NaN,NaN,NaN
159,PRY,Paraguay,NaN,NaN,NaN
165,RWA,Rwanda,NaN,NaN,NaN
167,SDN,Sudan,NaN,NaN,NaN
168,SEN,Senegal,NaN,NaN,NaN
170,SLB,Solomon Islands,NaN,NaN,NaN
171,SLE,Sierra Leone,NaN,NaN,NaN
172,SLV,El Salvador,NaN,NaN,NaN
174,SOM,Somalia,NaN,NaN,NaN
176,SSD,South Sudan,NaN,NaN,NaN
177,STP,São Tomé and Príncipe,NaN,NaN,NaN
178,SUR,Suriname,NaN,NaN,NaN
182,SWZ,Eswatini,NaN,NaN,NaN
183,SXM,Sint Maarten (Dutch part),NaN,NaN,NaN
184,SYC,Seychelles,NaN,NaN,NaN
186,TCA,Turks and Caicos Islands,NaN,NaN,NaN
187,TCD,Chad,NaN,NaN,NaN
190,TJK,Tajikistan,NaN,NaN,NaN
191,TKM,Turkmenistan,NaN,NaN,NaN
192,TLS,Timor-Leste,NaN,NaN,NaN
193,TON,Tonga,NaN,NaN,NaN
194,TTO,Trinidad and Tobago,NaN,NaN,NaN
196,TUR,Turkey,NaN,NaN,NaN
198,TWN,NaN,NaN,NaN,NaN
199,TZA,Tanzania,NaN,NaN,NaN
204,UZB,Uzbekistan,NaN,NaN,NaN
205,VCT,St. Vincent and the Grenadines,NaN,NaN,NaN
206,VEN,"Venezuela, RB",NaN,NaN,NaN
207,VGB,British Virgin Islands,NaN,NaN,NaN
208,VIR,Virgin Islands (U.S.),NaN,NaN,NaN
212,XKX,Kosovo,NaN,NaN,NaN
215,ZMB,Zambia,NaN,NaN,NaN
0,ABW,Aruba,NaN,NaN,NaN
4,AND,Andorra,NaN,NaN,NaN
8,ASM,American Samoa,NaN,NaN,NaN
24,BMU,Bermuda,NaN,NaN,NaN
34,CHI,Channel Islands,NaN,NaN,NaN
39,COD,"Congo, Dem. Rep.",NaN,NaN,NaN
40,COG,"Congo, Rep.",NaN,NaN,NaN
45,CUB,Cuba,NaN,NaN,NaN
46,CUW,Curacao,NaN,NaN,NaN
47,CYM,Cayman Islands,NaN,NaN,NaN
52,DMA,Dominica,NaN,NaN,NaN
65,FRO,Faeroe Islands,NaN,NaN,NaN
75,GNQ,Equatorial Guinea,NaN,NaN,NaN
78,GRL,Greenland,NaN,NaN,NaN
80,GUM,Guam,NaN,NaN,NaN
88,IMN,Isle of Man,NaN,NaN,NaN
109,LBR,Liberia,NaN,NaN,NaN
119,MAF,St. Martin (French part),NaN,NaN,NaN
121,MCO,Monaco,NaN,NaN,NaN
126,MHL,Marshall Islands,NaN,NaN,NaN
133,MNP,Northern Mariana Islands,NaN,NaN,NaN
140,NCL,New Caledonia,NaN,NaN,NaN
147,NRU,Nauru,NaN,NaN,NaN
160,PSE,West Bank and Gaza,NaN,NaN,NaN
161,PYF,French Polynesia,NaN,NaN,NaN
173,SMR,San Marino,NaN,NaN,NaN
174,SOM,Somalia,NaN,NaN,NaN
176,SSD,South Sudan,NaN,NaN,NaN
183,SXM,Sint Maarten (Dutch part),NaN,NaN,NaN
185,SYR,Syrian Arab Republic,NaN,NaN,NaN
186,TCA,Turks and Caicos Islands,NaN,NaN,NaN
190,TJK,Tajikistan,NaN,NaN,NaN
198,TWN,NaN,NaN,NaN,14036.0
204,UZB,Uzbekistan,NaN,NaN,NaN
207,VGB,British Virgin Islands,NaN,NaN,NaN
208,VIR,Virgin Islands (U.S.),NaN,NaN,NaN

In [72]:
missing_waste_data.to_csv("missing_waste_data.csv")

In [111]:
#tot_waste=[muni_waste,ewaste,colrate,rerate]
waste1=pd.merge(muni_waste, ewaste, on='country_name')
waste2=pd.merge(colrate,rerate, on='country_name')
total_waste=pd.merge(waste1, waste2, on='country_name')
total_waste.rename(columns={'iso3c':'iso3 (Country Code)','country_name':'Country Name','special_waste_e_waste_tons_year':'E Waste (tonnes/year)','total_msw_total_msw_generated_tons_year':'Municipal Solid Waste (tonnes/year)','waste_collection_coverage_total_percent_of_population':'Waste Collection Coverage Rate','waste_treatment_recycling_percent':'Recycling Rate'})

,iso3 (Country Code),Country Name,Municipal Solid Waste (tonnes/year),E Waste (tonnes/year),Waste Collection Coverage Rate,Recycling Rate
0,ABW,Aruba,8.813202e+04,NaN,NaN,11.000000
1,AFG,Afghanistan,5.628525e+06,20000.00,NaN,NaN
2,AGO,Angola,4.213644e+06,92000.00,23.10,NaN
3,ALB,Albania,1.087447e+06,20000.00,60.00,NaN
4,AND,Andorra,4.300000e+04,NaN,100.00,NaN
5,ARE,United Arab Emirates,5.617682e+06,134000.00,NaN,20.000000
6,ARG,Argentina,1.791055e+07,291700.00,89.91,6.000000
7,ARM,Armenia,4.928000e+05,14000.00,NaN,NaN
8,ASM,American Samoa,1.898949e+04,NaN,100.00,NaN
9,ATG,Antigua and Barbuda,3.058500e+04,1100.00,98.61,NaN
10,AUS,Australia,1.334500e+07,574000.00,NaN,42.100000
11,AUT,Austria,5.219716e+06,166174.00,NaN,25.660000
12,AZE,Azerbaijan,2.930349e+06,63000.00,56.00,NaN
13,BDI,Burundi,1.872016e+06,5000.00,NaN,NaN
14,BEL,Belgium,4.765883e+06,603575.00,NaN,34.303000
15,BEN,Benin,6.859360e+05,8200.00,NaN,25.000000
16,BFA,Burkina Faso,2.575251e+06,11000.00,9.60,12.000000
17,BGD,Bangladesh,1.477850e+07,142000.00,NaN,NaN
18,BGR,Bulgaria,2.859190e+06,53785.00,NaN,19.030000
19,BHR,Bahrain,9.519430e+05,20000.00,NaN,8.000000
20,BHS,"Bahamas, The",2.640000e+05,4900.00,NaN,NaN
21,BIH,Bosnia and Herzegovina,1.248718e+06,1409.00,NaN,0.000970
22,BLR,Belarus,4.280000e+06,72000.00,93.20,16.000000
23,BLZ,Belize,1.013788e+05,2300.00,85.20,NaN
24,BMU,Bermuda,8.200000e+04,NaN,100.00,2.000000
25,BOL,Bolivia,2.219052e+06,35392.00,57.60,12.110000
26,BRA,Brazil,7.906958e+07,1411900.00,91.30,1.400000
27,BRB,Barbados,1.748154e+05,3800.00,90.00,9.000000
28,BRN,Brunei Darussalam,2.162532e+05,7700.00,NaN,NaN
29,BTN,Bhutan,1.113141e+05,1457.50,NaN,0.860000
30,BWA,Botswana,2.108544e+05,16000.00,NaN,1.000000
31,CAF,Central African Republic,1.105983e+06,2700.00,NaN,NaN
32,CAN,Canada,2.510303e+07,724000.00,99.00,20.590000
33,CHE,Switzerland,6.079556e+06,184000.00,99.00,32.000000
34,CHI,Channel Islands,1.789330e+05,NaN,NaN,28.430202
35,CHL,Chile,6.517000e+06,176000.00,NaN,0.370000
36,CHN,China,3.950814e+08,7211000.00,94.00,NaN
37,CIV,Côte d’Ivoire,4.440814e+06,22000.00,NaN,3.000000
38,CMR,Cameroon,3.270617e+06,19000.00,61.60,0.400000
39,COD,"Congo, Dem. Rep.",1.438523e+07,NaN,NaN,4.900000
40,COG,"Congo, Rep.",4.512000e+05,NaN,NaN,26.200000
41,COL,Colombia,1.215012e+07,252200.00,80.60,17.200000
42,COM,Comoros,9.101300e+04,600.00,NaN,NaN
43,CPV,Cabo Verde,1.325550e+05,2400.00,70.60,NaN
44,CRI,Costa Rica,1.460000e+06,35800.00,90.40,1.260000
45,CUB,Cuba,2.692692e+06,NaN,76.90,9.490000
46,CUW,Curacao,2.470381e+04,NaN,NaN,2.000000
47,CYM,Cayman Islands,6.000000e+04,NaN,NaN,21.000000
48,CYP,Cyprus,7.694851e+05,18137.00,NaN,13.310000
49,CZE,Czech Republic,5.334854e+06,79581.00,NaN,25.500000
50,DEU,Germany,5.062788e+07,2465085.00,NaN,47.830000
51,DJI,Djibouti,1.149972e+05,900.00,NaN,NaN
52,DMA,Dominica,1.317600e+04,NaN,94.00,NaN
53,DNK,Denmark,4.910858e+06,168614.00,NaN,27.270000
54,DOM,Dominican Republic,4.063910e+06,57000.00,NaN,8.200000
55,DZA,Algeria,1.237874e+07,252000.00,NaN,8.000000
56,ECU,Ecuador,5.297211e+06,73000.00,NaN,12.900000
57,EGY,"Egypt, Arab Rep.",2.100000e+07,497000.00,NaN,12.500000
58,ERI,Eritrea,7.269574e+05,3800.00,NaN,NaN
59,ESP,Spain,2.240855e+07,1202597.00,NaN,16.840000
60,EST,Estonia,4.895117e+05,34312.00,NaN,24.740000
61,ETH,Ethiopia,6.532787e+06,49000.00,NaN,NaN
62,FIN,Finland,3.124498e+06,212954.00,NaN,28.120000
63,FJI,Fiji,1.893896e+05,4600.00,NaN,5.450000
64,FRA,France,3.674882e+07,2218682.00,NaN,22.260000
65,FRO,Faeroe Islands,6.100000e+04,NaN,NaN,67.000000
66,FSM,"Micronesia, Fed. Sts.",2.603957e+04,200.00,8.00,NaN
67,GAB,Gabon,2.381023e+05,14000.00,23.60,NaN
68,GBR,United Kingdom,3.077114e+07,3584126.00,NaN,27.250000
69,GEO,Georgia,8.000000e+05,21000.00,60.00,NaN
70,GHA,Ghana,3.538275e+06,39000.00,NaN,NaN
71,GIB,Gibraltar,1.695400e+04,201.44,NaN,NaN
72,GIN,Guinea,5.969110e+05,8000.00,NaN,5.000000
73,GMB,"Gambia, The",1.934405e+05,2200.00,NaN,NaN
74,GNB,Guinea-Bissau,2.895140e+05,1000.00,NaN,NaN
75,GNQ,Equatorial Guinea,1.984431e+05,NaN,NaN,NaN
76,GRC,Greece,5.615352e+06,188460.00,NaN,19.000000
77,GRD,Grenada,2.953611e+04,800.00,NaN,NaN
78,GRL,Greenland,5.000000e+04,NaN,NaN,NaN
79,GTM,Guatemala,2.756741e+06,55000.00,77.70,NaN
80,GUM,Guam,1.415000e+05,NaN,100.00,17.850000
81,GUY,Guyana,1.792515e+05,5000.00,89.00,0.540000
82,HKG,"Hong Kong SAR, China",5.679816e+06,70000.00,100.00,34.000000
83,HND,Honduras,2.162028e+06,1700.00,64.60,NaN
84,HRV,Croatia,1.810038e+06,58078.00,NaN,16.320000
85,HTI,Haiti,2.309852e+06,6000.00,NaN,NaN
86,HUN,Hungary,3.780970e+06,50066.00,NaN,25.940000
87,IDN,Indonesia,6.520000e+07,1274000.00,45.00,7.000000
88,IMN,Isle of Man,5.055100e+04,NaN,NaN,50.000000
89,IND,India,1.897500e+08,1700000.00,NaN,5.000000
90,IRL,Ireland,2.910655e+06,212874.00,NaN,33.000000
91,IRN,"Iran, Islamic Rep.",1.788500e+07,630000.00,100.00,5.000000
92,IRQ,Iraq,1.314000e+07,221000.00,76.00,NaN
93,ISL,Iceland,2.252704e+05,7600.00,100.00,55.810000
94,ISR,Israel,5.400000e+06,120000.00,NaN,25.000000
95,ITA,Italy,3.008840e+07,2800026.00,NaN,25.900000
96,JAM,Jamaica,1.051695e+06,17000.00,76.00,NaN
97,JOR,Jordan,2.529997e+06,43000.00,NaN,7.000000
98,JPN,Japan,4.272000e+07,518978.00,99.90,4.900000
99,KAZ,Kazakhstan,4.659740e+06,147000.00,77.00,2.920000
100,KEN,Kenya,5.595099e+06,17350.00,40.00,8.000000
101,KGZ,Kyrgyz Republic,1.113300e+06,7200.00,NaN,NaN
102,KHM,Cambodia,1.089000e+06,14000.00,NaN,NaN
103,KIR,Kiribati,3.572383e+04,100.00,54.00,NaN
104,KNA,St. Kitts and Nevis,3.289214e+04,700.00,95.00,NaN
105,KOR,"Korea, Rep.",2.045278e+07,570635.00,99.92,58.000000
106,KWT,Kuwait,1.750000e+06,67000.00,100.00,NaN
107,LAO,Lao PDR,3.519000e+05,7500.00,NaN,10.000000
108,LBN,Lebanon,2.040000e+06,51000.00,NaN,8.000000
109,LBR,Liberia,5.644667e+05,NaN,NaN,NaN
110,LBY,Libya,2.147596e+06,70000.00,NaN,NaN
111,LCA,St. Lucia,7.761623e+04,1600.00,100.00,NaN
112,LIE,Liechtenstein,3.238200e+04,293.00,100.00,64.600000
113,LKA,Sri Lanka,2.631650e+06,72.50,NaN,12.790000
114,LSO,Lesotho,7.345700e+04,1800.00,20.00,NaN
115,LTU,Lithuania,1.315390e+06,82691.00,NaN,22.920000
116,LUX,Luxembourg,4.903378e+05,7398.00,NaN,28.370000
117,LVA,Latvia,8.397144e+05,25071.00,NaN,21.230000
118,MAC,"Macao SAR, China",3.779420e+05,11000.00,100.00,20.000000
119,MAF,St. Martin (French part),1.547950e+04,NaN,NaN,NaN
120,MAR,Morocco,6.852000e+06,30300.00,NaN,8.000000
121,MCO,Monaco,4.600000e+04,NaN,100.00,5.400000
122,MDA,Moldova,3.981200e+06,6300.00,NaN,15.320000
123,MDG,Madagascar,3.768759e+06,14000.00,17.70,NaN
124,MDV,Maldives,2.115058e+05,3003.95,38.20,NaN
125,MEX,Mexico,5.310000e+07,957900.00,NaN,5.000000
126,MHL,Marshall Islands,8.614000e+03,NaN,49.00,30.800000
127,MKD,"Macedonia, FYR",6.269704e+05,1220.00,73.00,0.180000
128,MLI,Mali,1.937354e+06,12000.00,NaN,NaN
129,MLT,Malta,3.488412e+05,7643.00,NaN,6.690000
130,MMR,Myanmar,4.677307e+06,55000.00,60.00,NaN
131,MNE,Montenegro,3.297803e+05,6200.00,75.90,5.420000
132,MNG,Mongolia,2.900000e+06,14000.00,NaN,NaN
133,MNP,Northern Mariana Islands,3.276141e+04,NaN,NaN,36.000000
134,MOZ,Mozambique,2.500000e+06,17000.00,NaN,1.000000
135,MRT,Mauritania,4.540000e+05,5100.00,NaN,8.000000
136,MUS,Mauritius,4.380000e+05,11000.00,98.00,NaN
137,MWI,Malawi,1.297844e+06,9500.00,NaN,NaN
138,MYS,Malaysia,1.298268e+07,280000.00,NaN,17.500000
139,NAM,Namibia,2.567290e+05,14000.00,NaN,4.500000
140,NCL,New Caledonia,1.081574e+05,NaN,67.00,NaN
141,NER,Niger,1.865646e+06,7900.00,NaN,4.000000
142,NGA,Nigeria,2.761483e+07,277000.00,NaN,NaN
143,NIC,Nicaragua,1.528816e+06,10800.00,92.30,NaN
144,NLD,Netherlands,8.805088e+06,534410.00,NaN,24.610000
145,NOR,Norway,4.149967e+06,150000.00,99.00,26.160000
146,NPL,Nepal,1.768977e+06,23000.00,NaN,NaN
147,NRU,Nauru,6.191751e+03,NaN,100.00,NaN
148,NZL,New Zealand,3.405000e+06,95000.00,97.00,NaN
149,OMN,Oman,1.734885e+06,59000.00,NaN,NaN
150,PAK,Pakistan,3.076000e+07,301000.00,NaN,8.000000
151,PAN,Panama,1.472262e+06,3200.00,84.90,NaN
152,PER,Peru,8.356711e+06,182000.00,82.93,4.000000
153,PHL,Philippines,1.463192e+07,290000.00,NaN,28.000000
154,PLW,Palau,9.426746e+03,200.00,77.00,NaN
155,PNG,Papua New Guinea,1.000000e+06,7000.00,NaN,2.000000
156,POL,Poland,1.275821e+07,224452.00,NaN,26.390000
157,PRI,Puerto Rico,4.170953e+06,946.44,NaN,14.000000
158,PRT,Portugal,5.268211e+06,170078.00,NaN,16.230000
159,PRY,Paraguay,1.818501e+06,34200.00,46.60,NaN
160,PSE,West Bank and Gaza,1.387000e+06,NaN,91.50,0.500000
161,PYF,French Polynesia,1.470000e+05,NaN,51.00,39.000000
162,QAT,Qatar,1.000990e+06,29000.00,100.00,3.000000
163,ROU,Romania,5.419832e+06,132268.00,NaN,5.670000
164,RUS,Russian Federation,6.000000e+07,1392000.00,NaN,4.500000
165,RWA,Rwanda,4.384969e+06,5900.00,NaN,NaN
166,SAU,Saudi Arabia,1.612570e+07,508000.00,100.00,15.000000
167,SDN,Sudan,2.831291e+06,51000.00,NaN,NaN
168,SEN,Senegal,2.454059e+06,15000.00,21.40,NaN
169,SGP,Singapore,1.870000e+06,100000.00,100.00,61.000000
170,SLB,Solomon Islands,1.799720e+05,400.00,12.00,NaN
171,SLE,Sierra Leone,6.102221e+05,3400.00,NaN,NaN
172,SLV,El Salvador,1.648996e+06,30100.00,78.80,NaN
173,SMR,San Marino,1.717468e+04,NaN,NaN,45.050000
174,SOM,Somalia,2.326099e+06,NaN,NaN,NaN
175,SRB,Serbia,2.347402e+06,14388.00,70.00,0.760000
176,SSD,South Sudan,2.680681e+06,NaN,NaN,NaN
177,STP,São Tomé and Príncipe,2.558650e+04,200.00,48.40,NaN
178,SUR,Suriname,7.861980e+04,5000.00,79.50,NaN
179,SVK,Slovak Republic,2.296165e+06,30911.00,NaN,7.620000
180,SVN,Slovenia,1.052325e+06,26359.00,NaN,46.440000
181,SWE,Sweden,4.618168e+06,721671.00,NaN,32.370000
182,SWZ,Eswatini,2.181995e+05,5700.00,NaN,NaN
183,SXM,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN
184,SYC,Seychelles,4.800000e+04,1100.00,NaN,NaN
185,SYR,Syrian Arab Republic,4.500000e+06,NaN,74.00,2.500000
186,TCA,Turks and Caicos Islands,NaN,NaN,NaN,NaN
187,TCD,Chad,1.358851e+06,8800.00,NaN,NaN
188,TGO,Togo,1.109030e+06,6400.00,NaN,2.000000
189,THA,Thailand,2.685337e+07,384233.00,NaN,19.100000
190,TJK,Tajikistan,1.787400e+06,NaN,38.25,NaN
191,TKM,Turkmenistan,5.000000e+05,22000.00,NaN,NaN
192,TLS,Timor-Leste,6.387500e+04,3600.00,NaN,NaN
193,TON,Tonga,1.723820e+04,300.00,71.00,NaN
194,TTO,Trinidad and Tobago,7.278740e+05,71.07,94.31,NaN
195,TUN,Tunisia,2.700000e+06,90000.00,65.00,4.000000
196,TUR,Turkey,3.537416e+07,623000.00,NaN,NaN
197,TUV,Tuvalu,3.989486e+03,10.00,47.00,15.000000
198,TWN,NaN,7.336000e+06,14036.00,NaN,NaN
199,TZA,Tanzania,9.276995e+06,38000.00,NaN,NaN
200,UGA,Uganda,7.045050e+06,25000.00,NaN,6.000000
201,UKR,Ukraine,1.524202e+07,277000.00,75.86,3.200000
202,URY,Uruguay,1.260140e+06,37000.00,98.00,8.000000
203,USA,United States,2.652245e+08,2440000.00,100.00,34.600000
204,UZB,Uzbekistan,4.000000e+06,NaN,NaN,NaN
205,VCT,St. Vincent and the Grenadines,3.156135e+04,900.00,NaN,NaN
206,VEN,"Venezuela, RB",9.779093e+06,232700.00,100.00,NaN
207,VGB,British Virgin Islands,2.109919e+04,NaN,97.20,NaN
208,VIR,Virgin Islands (U.S.),1.465000e+05,NaN,NaN,NaN
209,VNM,Vietnam,9.570300e+06,141000.00,72.00,23.000000
210,VUT,Vanuatu,7.022549e+04,300.00,12.00,37.000000
211,WSM,Samoa,2.739909e+04,500.00,100.00,36.000000
212,XKX,Kosovo,3.190000e+05,23.00,39.00,NaN
213,YEM,"Yemen, Rep.",4.836820e+06,42000.00,20.00,8.000000
214,ZAF,South Africa,1.845723e+07,321000.00,NaN,28.000000
215,ZMB,Zambia,2.608268e+06,15000.00,20.00,NaN
216,ZWE,Zimbabwe,1.449752e+06,13000.00,NaN,16.000000

In [112]:
total_waste.to_csv("cleanedWasteData.csv")

## Child labor

### 1. child labor rate (if available) (UNSDG 8.7.1)

In [46]:
cl_file = 'data.xlsx' 
cl = pd.read_excel(cl_file, 'Goal8') #name of the specific sheet within the spreadsheet
cl.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,LowerBound,BasePeriod,Source,GeoInfoUrl,FootNote,Age,Nature,Reporting Type,Sex,Units
0,8,8.7,8.7.1,SL_TLF_CHLDEA,Proportion of children engaged in economic act...,4,Afghanistan,2020,12.6,2020,...,NaN,NaN,"IELFS 2020, UNICEF and ILO calculations",NaN,These estimates differ from published national...,5-17,CA,G,MALE,PERCENT
1,8,8.7,8.7.1,SL_TLF_CHLDEA,Proportion of children engaged in economic act...,4,Afghanistan,2020,5.1,2020,...,NaN,NaN,"IELFS 2020, UNICEF and ILO calculations",NaN,These estimates differ from published national...,5-17,CA,G,FEMALE,PERCENT
2,8,8.7,8.7.1,SL_TLF_CHLDEA,Proportion of children engaged in economic act...,4,Afghanistan,2020,9.0,2020,...,NaN,NaN,"IELFS 2020, UNICEF and ILO calculations",NaN,These estimates differ from published national...,5-17,CA,G,BOTHSEX,PERCENT
3,8,8.7,8.7.1,SL_TLF_CHLDEA,Proportion of children engaged in economic act...,8,Albania,2010,3.4,2010,...,NaN,NaN,"CLS 2010, ILO Harmonized Microdata, https://il...",NaN,,5-17,CA,G,MALE,PERCENT
4,8,8.7,8.7.1,SL_TLF_CHLDEA,Proportion of children engaged in economic act...,8,Albania,2010,2.1,2010,...,NaN,NaN,"CLS 2010, ILO Harmonized Microdata, https://il...",NaN,,5-17,CA,G,FEMALE,PERCENT

In [47]:
cl = cl.drop(columns=['Goal','Indicator', 'SeriesCode', 'SeriesDescription','GeoAreaCode','Time_Detail','TimeCoverage','UpperBound','LowerBound','BasePeriod','GeoInfoUrl','FootNote','Nature','Reporting Type'])
cl1= cl[cl["Sex"] == "BOTHSEX"]
cl1.head()

,Target,GeoAreaName,TimePeriod,Value,Source,Age,Sex,Units
2,8.7,Afghanistan,2020,9.000,"IELFS 2020, UNICEF and ILO calculations",5-17,BOTHSEX,PERCENT
5,8.7,Albania,2010,2.800,"CLS 2010, ILO Harmonized Microdata, https://il...",5-17,BOTHSEX,PERCENT
6,8.7,Algeria,2019,1.900,"MICS 2018-19, UNICEF and ILO calculations",5-17,BOTHSEX,PERCENT
9,8.7,Angola,2016,9.666,"DHS 2015-16, UNICEF and ILO calculations",5-17,BOTHSEX,PERCENT
12,8.7,Bangladesh,2019,5.900,"MICS 2019, UNICEF and ILO calculations",5-17,BOTHSEX,PERCENT

In [48]:
grouped_by_age_ranges = cl1.groupby("GeoAreaName")["Age"].unique().to_frame()
grouped_by_age_ranges

                                                Age
GeoAreaName
Afghanistan                                  [5-17]
Albania                                [5-17, 5-14]
Algeria                                      [5-17]
Angola                                       [5-17]
Armenia                                      [5-17]
Bangladesh                                   [5-17]
Barbados                                     [5-14]
Belarus                                      [5-17]
Belize                                       [5-17]
Benin                                        [5-17]
Bhutan                                       [5-14]
Bolivia (Plurinational State of)             [5-17]
Brazil                                       [5-17]
Burkina Faso                                 [5-14]
Burundi                                      [5-17]
Cambodia                                     [5-17]
Cameroon                                     [5-17]
Central African Republic                     [5-17]
Central and Southern Asia                    [5-17]
Chad                                         [5-17]
Chile                                        [5-17]
Colombia                                     [5-17]
Comoros                                      [5-14]
Congo                                        [5-17]
Costa Rica                                   [5-17]
Côte d'Ivoire                                [5-17]
Democratic People's Republic of Korea        [5-17]
Democratic Republic of the Congo             [5-17]
Dominican Republic                           [5-17]
Eastern and South-Eastern Asia               [5-17]
Ecuador                                      [5-17]
Egypt                                        [5-17]
El Salvador                                  [5-17]
Eswatini                                     [5-14]
Ethiopia                                     [5-14]
Europe and Northern America                  [5-17]
Fiji                                         [5-17]
Gabon                                        [5-14]
Gambia                                       [5-17]
Georgia                                      [5-17]
Ghana                                        [5-17]
Guatemala                                    [7-17]
Guinea                                       [5-17]
Guinea-Bissau                                [5-17]
Guyana                                       [5-17]
Haiti                                        [5-14]
Honduras                                     [5-17]
India                                        [5-17]
Indonesia                                    [5-17]
Iraq                                         [5-17]
Jamaica                                      [5-17]
Jordan                                       [5-17]
Kenya                                        [5-17]
Kiribati                                     [5-17]
Kyrgyzstan                                   [5-17]
Lao People's Democratic Republic             [5-17]
Latin America and the Caribbean              [5-17]
Lesotho                                      [5-17]
Liberia                                      [5-17]
Madagascar                                   [5-17]
Malawi                                       [5-17]
Mali                                         [6-17]
Mauritania                                   [5-17]
Mexico                                       [5-17]
Mongolia                                     [5-17]
Montenegro                                   [5-17]
Myanmar                                      [5-17]
Nepal                                        [5-17]
Nicaragua                                   [10-17]
Niger                                        [5-14]
Nigeria                                      [5-17]
North Macedonia                              [5-17]
Northern Africa and Western Asia             [5-17]
Pakistan                                    [10-17]
Panama                                       [5-17]
Paraguay                                     [5-17]
Peru                                         [5-17]
Philippines                                  [5-17]
Rwanda                                       [6-17]
Saint Lucia                                  [5-14]
Samoa                                        [5-17]
Sao Tome and Principe                        [5-17]
Senegal                                      [5-17]
Serbia                                       [5-17]
Sierra Leone                                 [5-17]
Solomon Islands                              [5-14]
South Africa                                 [7-17]
Sri Lanka                                    [5-17]
State of Palestine                           [5-17]
Sub-Saharan Africa                           [5-17]
Sudan                                        [5-17]
Suriname                                     [5-17]
Timor-Leste                                  [5-17]
Togo                                         [5-17]
Tonga                                        [5-17]
Trinidad and Tobago                          [5-14]
Tunisia                                      [5-14]
Turkmenistan                                 [5-17]
Turks and Caicos Islands                     [5-17]
Tuvalu                                       [5-17]
Türkiye                                      [5-17]
Uganda                                       [5-17]
Ukraine                                      [5-14]
United Republic of Tanzania                  [5-17]
Uruguay                                      [5-17]
Uzbekistan                                   [5-17]
Vanuatu                                      [5-14]
Viet Nam                                     [5-17]
World                                        [5-17]
Zambia                                       [5-17]
Zimbabwe                                     [5-17]

In [4]:
import os

os.system('jupyter nbconvert --to html non_api_data.ipynb')

[NbConvertApp] Converting notebook non_api_data.ipynb to html
[NbConvertApp] Writing 485935 bytes to non_api_data.html

0